.App {
  text-align: center;
}

html {
  background-color: #222831;
  --bs-body-bg: none !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* AUTH STYLES */
#mainAuthWrapper {
  background-image: linear-gradient(to bottom right, #000000e1, #11b6c2ea), url('https://karmanhealth-karmanhealthcare.netdna-ssl.com/wp-content/uploads/2017/12/902.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#authWrapper {
  position: relative;
  top: 10%;
  max-width: 350px;
  margin: auto;
  box-shadow: 0 0 10px grey;
  background-color: white;
  border-radius: 5px;
}

.MuiPaper-root {
  border-radius: 5px;
}

.authTabs {
  background-color: #393E46;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.loginTab {
  width: 50%;

}

.signupTab {
  width: 50%;
}

.PrivateTabIndicator-colorSecondary-3 {
  background-color: #00FFF5 !important;
}

.jss3 {
  background-color: #00FFF5 !important;
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}

.authLink {
  text-decoration: none;
  color: #00ADB5;
}

.authLink:hover {
  color: #393E46;
}

/* Login Styles */
#loginWrapper {
  padding: 20px 15px 30px 15px;
}

#username {
  padding: 5px 0;
}

#password{
  padding: 5px 0;
}

.loginButton {
  margin-top: 25px !important;
  padding: 3px 15px !important;
  width: 50% !important;
  background-color: #00ADB5 !important;
  border-style: none;
  border-radius: 5px;
  color: white !important;
}

.loginButton:hover {
  background-image: linear-gradient(to bottom, #46464683, #11b6c2);
  box-shadow: 0 0 5px grey;
  cursor: pointer;
}

/* Register Styles */
#registerWrapper {
  padding: 20px 15px 30px 15px;
}

.registerButton {
  margin-top: 25px !important;
  padding: 3px 15px !important;
  width: 50% !important;
  background-color: #00ADB5 !important;
  border-style: none;
  border-radius: 5px;
  color: white !important;
}

.registerButton:hover {
  background-image: linear-gradient(to bottom, #46464683, #11b6c2);
  box-shadow: 0 0 5px grey;
  cursor: pointer;
}

label + .MuiInput-formControl {
  margin-top: 20px !important;
}

/* SideBar */
#mainWrapper {
  margin: 0;
  width: 100%;
}

.navIcon {
  position: absolute;
  left: 7px;
  font-size: 2em;
  padding: 2px;
  display: none; 
}

.navIcon:hover {
  color: #00FFF5;
}

.toggleContent {
    left: -350px !important;
    transition: left .3s linear !important;
  }

.avatar {
  position: relative;
  left: 50% !important;
  margin-left: -20px!important;
}

.headerBar {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  margin: 0 !important;
  background-color: #393E46;
  color: white;
  z-index: 2;
}

.headerBar h2 {
  font-family: 'Arvo';
  font-weight: 600;
  margin-bottom: 0;
}

.headerBar a {
  text-decoration: none !important;
  color: white;
  display: inline-block;
}

.headerBar a:hover {
  color: #00FFF5;
}

#sidebarContent {
  position: -webkit-sticky;
  top: 0;
  max-width: 350px !important;
  height: 100vh;
  padding-top: 75px !important;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #393E46;
  color: white;
  box-shadow: 0 0 15px -2px #00FFF5;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  transition: left .3s linear !important;
}

.jss7 {
  padding: 10px !important;
  border-radius: 5px !important;
  border: 1px solid rgb(204, 204, 204) !important;
  box-shadow: none !important;
}

.userInfo {
  height: 40%;
  flex: none !important;
  padding: 0 !important;
}

.userOperations {
  position: relative;
  height: 60% !important;
  flex: none !important;
  padding: 0 !important;
}

.userOperations Button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -35px;
}

.operationsList li {
 padding: 10px 5px;
 list-style: none;
}

.operationsList a:hover {
 color: #00FFF5 !important;
}

.operationsList {
  padding: 0 0 0 75px;
  margin: 0;
  text-align: left;
  font-size: 17px !important;
}

.operationsList a{
  text-decoration: none;
  color: white;
 }

 .operationsList svg {
   margin: 0 20px 4px 0 !important;
 }

 .sidebarRoute {
  flex: 1 !important;
  background-color: #222831;
  color: white;
  padding-top: 50px !important;
}

.sidebarFormGroup {
  display: flex;
  flex-direction: column;
}


 /* Main Home */
 #homeWrapper {
  height: 100%;
  padding: 50px 0;
}

.searchCol {
  margin: 20px 20%;
}

.searchGroup {
  display: flex;
}

#standard-search {
  border-top-left-radius: .25rem !important;
  border-bottom-left-radius: .25rem !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

#searchBtn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: .25rem !important;
  border-top-right-radius: .25rem !important;
}

.resultsWrapper {
  padding-top: 50px !important;
  display: flex;
  flex-direction: row;
  justify-content: center !important;
}

.resultsCol {
  margin: 30px;
  width: 160px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 160px !important;
}

.moviePoster {
  box-shadow: 0 0 15px -3px #00FFF5;
}

.noResultsCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.noResultsCol h1 {
  font-size: 4rem;
}

.resultsCol h5 {
  padding: 7px 0;
  width: 160px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.altBackground {
  height: 240px;
  width: 154px;
  background-color: rgb(12, 12, 24);
  padding: 50px 10px 0 10px !important;
  box-shadow: 0 0 15px -3px #00FFF5;
  
}

.altBackground h2{
  color: white;
}

.previousBtn {
  margin: 20px;
}

.nextBtn {
  margin: 20px;
}

.modalPosterWrapper {
  max-width: 350px;
}


/* All User Reviews */
 .allReviewsWrapper {
   display: flex;
   flex-direction: column;
 }

 .reviewsPoster {
  box-shadow: 0 0 15px -3px #00FFF5;
 }
 
 .userReviewsWrapper {
   max-width: 500px !important;
   margin: 40px auto;
   padding: 25px !important;
   border: 1px solid grey;
   box-shadow: 0 0 15px -3px #00FFF5;
 }

 .userReviewsWrapper {
   background-color: #393E46;
 }

 .reviewsTitle {
   margin: 15px 0 !important;
 }

 .reviewsHeader {
   margin: 30px auto;
   max-width: 550px;
   border-bottom: 1px solid #494e57;
   padding: 10px 0;
 }

 .reviewsPoster {
   margin-top: 100px;;
 }

 .noResultsWrapper {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
 }

 .noResultsWrapper h1{
  font-size: 4rem;
 }

 .searchedMoviePoster {
  box-shadow: 0 0 15px -3px #00FFF5;
  margin-bottom: 15px !important;
 }

 .reviewsAltPoster {
   width: 300px;
   background: black;
   height: 400px;
   margin: 0 auto 15px auto !important;
   text-align: center;
   box-shadow: 0 0 15px -3px #00FFF5;
 }

 .reviewsAltPoster h2{
  padding-top: 25%;
 }

 /* Profile Image */
#imgModal {
    overflow-y: scroll !important;
    max-height: 300px !important;
    max-width: 600px !important;
    display: block !important;
    margin: auto; 
}


.MuiBackdrop-root {
  background-color: rgba(255, 255, 255, 0.75) !important;
}

.mainAvatar {
  max-height: 175px !important;
  max-width: 175px !important;
  border-radius: 50%;
  box-shadow: 0 0 15px -2px #00FFF5;
}

.avatarEditBtn {
  margin-top: 8px !important;
  font-size: 12px !important;
  padding: 5px !important;
}

#profileImgWrapper {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  --bs-gutter-x: 0 !important;
 }

#profileImgWrapper h1{
  width: 100% !important;
  text-align: center;
 }

 .proImgCard {
   text-align:  center;
   padding: 0 !important;
 }

 .proImgCard img {
   width: 100px !important;
   height: 100px !important;
   margin: 5px !important;
   border-radius: 30px;
 }

 .proImgCard img:hover {
  box-shadow: 0 0 15px -3px #002daa;
 }


 /* Create Review */
 #createReviewModal {
  max-width: 500px !important;
  max-height: 75vh !important;
  overflow-y: scroll !important;
  text-align: center;
 }

 .modalOverview {
   text-align: left;
 }

.reviewForm {
  text-align: center;
}

.closeModalBtn {
  text-align: center;
}

#btmModalBtns {
  padding-top: 15px !important;
}

#submitReviewButton {
  margin-top: 10px !important;
}

/* Edit Review */
#editReviewModal {
  max-width: 500px !important;
  max-height: 75vh !important;
  overflow-y: scroll !important;
  text-align: center;
}

#submitReviewButton {
  margin-bottom: 7px !important;
}

.myReviewDescription {
  text-align: left;
}

#user-review {
  height: 100px;
}

/* Watchlist */
#watchListModal {
   max-width: 500px !important;
  max-height: 75vh !important;
  overflow-y: scroll !important;
  text-align: center;
}

#submitDeleteButton {
  margin-bottom: 7px !important;
}

.watchlistDescription p{
  text-align: left;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 400px) {
  .headerBar h2 {
    padding-left: 40px;
  }

}

@media only screen and (max-width: 750px) {
  .navIcon {
    display: block;
  }
  
  #sidebarContent {
    position: fixed !important;
    left: 0;
  }

  .searchCol {
    margin: 20px 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .navIcon {
    display: block;
  }

  #sidebarContent {
    position: fixed !important;
    left: 0;
  }

  .paddingFix {
    padding: 100px 0 28em 0 !important;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1001px) {
  .toggleContent {
    display: flex;
  }

  #sidebarContent {
    position: sticky !important;
  }
}

@media only screen and (min-width: 1201px) {
  .toggleContent {
    display: flex;
  }

  #sidebarContent {
    position: sticky !important;
  }
}